Repository openpro-io/openpro: changes, and which lint-staged commands are due for each by the changed paths.
All: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Update ESLint config file reference for backend
  .lintstagedrc
  backend/.eslintrc.json
Due: none

Update optional properties to CreationOptional
  backend/package.json
  backend/src/db/models/types.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Add GraphQL code generation configuration and generated types
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/models/board.ts
  backend/src/db/models/index.ts
  backend/src/db/models/project-custom-field.ts
  backend/src/db/models/project-permission.ts
  backend/src/db/models/project.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/issue-comment/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/resolvers/user/index.ts
  backend/src/server/apollo.ts
  backend/src/server/fastify-hooks.ts
  backend/src/services/hocuspocus-server.ts
  backend/src/typings.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Update package versions in pnpm-lock.yaml
  backend/pnpm-lock.yaml
Due: none

Update import statements and enhance linting
  .lintstagedrc
  backend/.eslintrc.json
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/server/apollo.ts
  backend/src/server/fastify-hooks.ts
  backend/src/server/fastify-ws.ts
  backend/src/server/index.ts
  backend/src/services/hocuspocus-server.ts
  backend/src/services/utils.ts
  backend/src/services/ws-server.ts
  backend/tests/src/db/index.js
  backend/tsconfig.json
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Add '@types/uuid' to backend dependencies
  backend/package.json
  backend/pnpm-lock.yaml
Due: none

Remove unused dependencies from pnpm-lock.yaml
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/resolvers/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Remove resolver types file
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/issue/index.ts
  backend/src/server/fastify-hooks.ts
  backend/src/server/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Update backend dependencies and refactor resolvers
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/models/index.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/server/apollo.ts
  backend/src/type-defs.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor resolvers and types with Date to DateTime scalar
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/type-defs.ts
  frontend/gql/__generated__/graphql.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Convert IDs to numbers across multiple resolvers
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue-comment/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/resolvers/user/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Import and use AssetModel in user resolver
  backend/src/resolvers/user/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor data mapping and date handling in resolvers and frontend components
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  frontend/components/IssueModal/IssueComment.tsx
  frontend/components/IssueModal/IssueDetails.tsx
  frontend/services/apollo-client.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Refactor resolver logic in multiple files
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Extend MyWebSocket interface and refactor usage
  backend/src/server/fastify-ws.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor websocket handler in Fastify server
  backend/src/server/fastify-ws.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor MentionList and extensions
  frontend/components/Editor/extensions/MentionList.tsx
  frontend/components/Editor/extensions/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Merge pull request #26
  frontend/components/Editor/extensions/MentionList.tsx
  frontend/components/Editor/extensions/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add user settings and refactor user formatting
  backend/package.json
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/migrations/20240112143058-add-settings-to-user.ts
  backend/src/db/models/types.ts
  backend/src/db/models/user.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/resolvers/user/helpers.ts
  backend/src/resolvers/user/index.ts
  backend/src/server/fastify-hooks.ts
  backend/src/type-defs.ts
  frontend/app/profile/page.tsx
  frontend/components/Avatar/UploadComponent.tsx
  frontend/components/Header/DropdownUser.tsx
  frontend/components/KanbanBoard/index.tsx
  frontend/components/Profile/UserInfo.tsx
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Merge pull request #27
  backend/package.json
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/migrations/20240112143058-add-settings-to-user.ts
  backend/src/db/models/types.ts
  backend/src/db/models/user.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/resolvers/user/helpers.ts
  backend/src/resolvers/user/index.ts
  backend/src/server/fastify-hooks.ts
  backend/src/type-defs.ts
  frontend/app/profile/page.tsx
  frontend/components/Avatar/UploadComponent.tsx
  frontend/components/Header/DropdownUser.tsx
  frontend/components/KanbanBoard/index.tsx
  frontend/components/Profile/UserInfo.tsx
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Optimize formatting and data loading in resolvers
  backend/codegen.ts
  backend/src/resolvers/issue-comment/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Optimize formatting and data loading in resolvers (#28)
  backend/codegen.ts
  backend/src/resolvers/issue-comment/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Update notification structure, handle via payload
  backend/src/services/ws-server.ts
  frontend/components/Backlog/index.tsx
  frontend/components/KanbanBoard/index.tsx
  frontend/components/Notifications/index.tsx
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Update notification structure, handle via payload (#29)
  backend/src/services/ws-server.ts
  frontend/components/Backlog/index.tsx
  frontend/components/KanbanBoard/index.tsx
  frontend/components/Notifications/index.tsx
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add functionality to modify board view state
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/migrations/20240113143058-create-board-item-tables.ts
  backend/src/db/models/board-container.ts
  backend/src/db/models/board.ts
  backend/src/db/models/container-item.ts
  backend/src/db/models/index.ts
  backend/src/db/models/issue.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/type-defs.ts
  backend/src/typings.ts
  frontend/components/KanbanBoard/index.tsx
  frontend/gql/__generated__/gql.ts
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Refactor KanbanBoard component, remove unnecessary code
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Refactor 'boards' resolver to shared function
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/project/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor board index resolver file
  backend/src/resolvers/board/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Update to transactions for database interactions
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  frontend/services/apollo-client.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Remove commented code in issue resolver
  backend/src/resolvers/issue/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Refactor import orders in KanbanBoard components
  frontend/components/KanbanBoard/Container/index.tsx
  frontend/components/KanbanBoard/Item/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Remove unnecessary comments from index.tsx
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add 'AddItemToViewState' mutation to graphql
  backend/src/resolvers/board/index.ts
  frontend/gql/__generated__/gql.ts
  frontend/gql/__generated__/graphql.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Implement row level locking for container items reordering
  backend/src/resolvers/board/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json

Disable data pre-loading and refetching
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  frontend/components/KanbanBoard/index.tsx
  frontend/services/socket-handlers.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add refetch to onCompleted in KanbanBoard
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Refactor Kanban board's issue status update logic
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Update issue status and ensure data consistency
  backend/src/resolvers/issue/index.ts
  frontend/components/IssueModal/IssueStatusDropdown.tsx
  frontend/components/KanbanBoard/index.tsx
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add version field to board table
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/migrations/20240116200136-add-version-to-board-table.ts
  backend/src/db/models/board.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/type-defs.ts
  frontend/components/KanbanBoard/index.tsx
  frontend/gql/__generated__/gql.ts
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Path conditions:
  backend/node_modules/.bin/eslint --config backend/.eslintrc.json: any of: backend/**/*.ts
  frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json: any of: frontend/**/*.{ts,tsx}
