Repository openpro-io/openpro: changes, and which lint-staged commands are due for each by the changed paths.
All: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

.lintstagedrc:

{
  "backend/**/*.ts": [
    "backend/node_modules/.bin/eslint --config backend/.eslintrc.json",
    "backend/node_modules/.bin/oxlint --config backend/.eslintrc.json"
  ],
  "frontend/**/*.{ts,tsx}": "frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json",
}

Update board version on item addition
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Refactor Kanban board code to improve readability
  frontend/components/KanbanBoard/index.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Merge pull request #30
  backend/codegen.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/__generated__/resolvers-types.ts
  backend/src/db/migrations/20240113143058-create-board-item-tables.ts
  backend/src/db/migrations/20240116200136-add-version-to-board-table.ts
  backend/src/db/models/board-container.ts
  backend/src/db/models/board.ts
  backend/src/db/models/container-item.ts
  backend/src/db/models/index.ts
  backend/src/db/models/issue.ts
  backend/src/db/models/types.ts
  backend/src/resolvers/board/index.ts
  backend/src/resolvers/issue/index.ts
  backend/src/resolvers/project/index.ts
  backend/src/type-defs.ts
  backend/src/typings.ts
  frontend/components/IssueModal/IssueStatusDropdown.tsx
  frontend/components/KanbanBoard/Container/index.tsx
  frontend/components/KanbanBoard/Item/index.tsx
  frontend/components/KanbanBoard/index.tsx
  frontend/gql/__generated__/gql.ts
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
  frontend/services/apollo-client.ts
  frontend/services/socket-handlers.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Improve type checking in board resolver
  backend/src/resolvers/board/index.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json

Refactor code and enhance board link generation
  backend/src/resolvers/board/index.ts
  frontend/components/MainPage/RecentProjectsCards.tsx
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Add functionality for updating view state
  backend/src/__generated__/resolvers-types.ts
  backend/src/resolvers/board/index.ts
  backend/src/type-defs.ts
  frontend/components/KanbanBoard/index.tsx
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Merge pull request #31
  backend/src/__generated__/resolvers-types.ts
  backend/src/resolvers/board/index.ts
  backend/src/type-defs.ts
  frontend/components/KanbanBoard/index.tsx
  frontend/gql/__generated__/graphql.ts
  frontend/gql/gql-queries-mutations.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json, frontend/node_modules/.bin/eslint --config frontend/.eslintrc.json

Added codegen afterOneFileWrite script which fixes generated imports
  backend/codegen.ts
  backend/src/__generated__/resolvers-types.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json

Added codegen afterOneFileWrite script which fixes generated imports (#32)
  backend/codegen.ts
  backend/src/__generated__/resolvers-types.ts
Due: backend/node_modules/.bin/eslint --config backend/.eslintrc.json, backend/node_modules/.bin/oxlint --config backend/.eslintrc.json
